.header__line {
  max-width: 100%;
  margin: 0;
  border: 0;
  padding: 40px 0 0;
  border-bottom: 1px solid #545454;
  opacity: 0.7;
}

@media screen and (max-width: 1000px) {
  .header__line {
    padding: 29px 0 0;
  }
 }
