.header__logo {
  max-width: 142px;
  object-fit: contain;
  object-position: top left;
}

@media screen and (max-width: 1000px) {
  .header__logo {
    max-width: 103.74px;
    padding-left: 8px;
  }
 }
