.header {
  max-width: 1280px;
  margin: 0 calc((100% - 880px) / 2);
  padding: 45px 0 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84, 84, 84,.7);
}

@media screen and (max-width: 1280px) {
  .header {
    margin: 0 200px;
  }
 }

@media screen and (max-width: 1000px) {
  .header {
    margin: 0;
    padding: 28px 0 0;
  }
 }
